 {% load staticfiles %}
      <!-- CONTAINER STARTS -->
      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/PMT-BOYS-HOSTEL-PICS/Juniors-Hall.jpeg' %}" alt="Reading hall" width="140" height="140">
            <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Reading hall</h2>
            <p>A hall where number of students can stay and study silently. It is far from noice as well as the good thing about this hall is its silence and beauty.<br> Students won't face any kind of problem while studying.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/PMT-BOYS-HOSTEL-PICS/Hostel-Dining-Hall-2.jpeg' %}" alt="Dining hall" width="140" height="140">
            <h2><i class="fa fa-bath" aria-hidden="true"></i> Dining hall</h2>
            <p>A TV facilitaed hall with 4 dinings where approximately 35-40 students can sit while having breakfast, lunch, dinner etc. This hall is used for Hostel meeting as well as to celebrate other different kind of functions and festivals.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'images/PMT-BOYS-HOSTEL-PICS/Hostel-Pump-3.jpeg' %}" alt="Playground" width="140" height="140">
            <h2><i class="fa fa-futbol-o" aria-hidden="true"></i> Playground</h2>
            <p>This small but nice playground is under the hostel campus which can be used to play games like football, Volleyball, Badminton, Cricket etc. PMT organizes price based games on special occassions like 15 August, 26 January, Annual day etc. </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row">
          <div class="col-md-7">
            <h2 class="h2-header"><i class="fa fa-book" aria-hidden="true"></i> Study is the first thing that we focus on</h2>
            <p class="lead">Study has a major role in everyone's life. We are here to study well and build good future of ourself, family, society and country. By staying in PMT we mostly focus on our study as well as other activities too.<br><br>
            Juniors &amp; seniors co-operate each other to satisfy the needs. Everyone respects the work of each other, everyone is of helping nature. PMT focus on the future of students as it is the primary thing for which we stay here.
            </p>
          </div>
          <div class="col-md-5">
            <img class="img-responsive" src="{% static 'images/hostel/StudyClass.jpg' %}" alt="Study" width="100%" height="100%">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row">
          <div class="col-md-5">
            <img class="img-responsive" src="{% static 'images/hostel/Enjoy2.jpg' %}" alt="Study" width="100%" height="100%" alt="Enjoy">
          </div>
          <div class="col-md-7">
            <h2 class="h2-header"><i class="fa fa-flag-checkered" aria-hidden="true"></i> We enjoy functions, festivals and birthdays</h2>
            <p class="lead">PMT enjoys each and every festival including Deewali, Holi, 15 August, 26 january, Janmastami, Christmas. We also enjoy the birtdays of students by grouping together at night.<br><br>Different kinds of programmes are organized for entertainment. PMT respects each member including Juniors, Seniors, Warden &amp; Peons. Life should be full of joy and we always try to keep it up.</p>
          </div>
          
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- CONTATINER ENDS -->