 {% load staticfiles %}
      <!-- CONTAINER STARTS -->
      
      
      <div class="container marketing">
          <hr class="featurette-divider">
          <!--DESC STARTS-->
          <div class="row">
            <div class="col-md-12 col-xs-12" >
               <p class="lead" data-toggle="tooltip" title="Few words about our hostel">A few decades ago, in <b>1968</b>, our hostel <b>PMT Boys hostel</b> started with a building having 13 small rooms and if today, we talk about it then it is a hostel of 39 rooms with capability of seats for 100 students.</p>
               <p class="lead" data-toggle="tooltip" title="Achievments">
                 The passed out students from different colleges of Raipur like <b>NIT</b>, <b>GEC</b>, <b>Nagarjun Science college</b>, <b>Pt. Ravishankar university</b> and other government &amp; private colleges are providing their services and contibutions in the field of academic, science and many more by getting the positions of engineer, doctor, scientist, managing director etc. in private software companies, hospitals and <b>DRDO</b> like institutions. Few of them are working for civil services by craking <b>PSC</b> exam or other competitive exams and few are preparing for the exams.
               </p>
              <p class="lead" data-toggle="tooltip" title="Motivation">
                The excellent performances of the passed out students are still in our mind as we always try to memorize their performances and achievements. It is the <b>source of motivation</b>.
               </p>

               <p class="lead"  data-toggle="tooltip" title="One of the good hostel in CG">In our opinion, <b>PMT boys hostel</b> is in the list of those popular and top hostels in the state whose students are brightning the name in different fields.</p>

               <p class="lead" data-toggle="tooltip" title="Appreciation">
                 Most of you are in an excellent and great positions. We <b>appreciate</b> all of the roles that you played for the society. We appreciate the years that you spent in the hostel and the contributions, efforts that you applied in the hostel's growth.
               </p>

               <p class="lead">At last, we thank you for your participation and your support. We wish for your <b>great future</b> with full of success and happiness.</p>

            </div>
            
          </div>
          <!--DESC ENDS-->

        <hr class="featurette-divider">
        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4 text-center"  data-toggle="tooltip" title="Reading hall is big and a silent place in hostel">
            <img class="img-circle" src="{% static 'images/PMT-BOYS-HOSTEL-PICS/Juniors-Hall.jpeg' %}" alt="Reading hall" width="140" height="140">
            <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Reading hall</h2>
            <p>A hall where number of students can stay and study silently. It is far from noice as well as the good thing about this hall is its silence and beauty.<br> Students won't face any kind of problem while studying.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 text-center"  data-toggle="tooltip" title="Dining hall is nice place to have food and enjoy functions">
            <img class="img-circle" src="{% static 'images/PMT-BOYS-HOSTEL-PICS/Hostel-Dining-Hall-2.jpeg' %}" alt="Dining hall" width="140" height="140">
            <h2><i class="fa fa-bath" aria-hidden="true"></i> Dining hall</h2>
            <p>A TV facilitaed hall with 4 dinings where approximately 35-40 students can sit while having breakfast, lunch, dinner etc. This hall is used for Hostel meeting as well as to celebrate other different kind of functions and festivals.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4 text-center"  data-toggle="tooltip" title="Playground is to play little games for good health">
            <img class="img-circle" src="{% static 'images/PMT-BOYS-HOSTEL-PICS/Hostel-Pump-3.jpeg' %}" alt="Playground" width="140" height="140">
            <h2><i class="fa fa-futbol-o" aria-hidden="true"></i> Playground</h2>
            <p>This small but nice playground is under the hostel campus which can be used to play games like football, Volleyball, Badminton, Cricket etc. PMT organizes price based games on special occassions like 15 August, 26 January, Annual day etc. </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row"  data-toggle="tooltip" title="Do hard work & utilize the time">
          <div class="col-md-7 text-center">
            <h2 class="h2-header"><i class="fa fa-book" aria-hidden="true"></i> Study is the first thing that we focus on</h2>
            <p class="lead">Study has a major role in everyone's life. We are here to study well and build good future of ourself, family, society and country. By staying in PMT we mostly focus on our study as well as other activities too.<br><br>
            Juniors &amp; seniors co-operate each other to satisfy the needs. Everyone respects the work of each other, everyone is of helping nature. PMT focus on the future of students as it is the primary thing for which we stay here.
            </p>
          </div>
          <div class="col-md-5">
            <img class="img-responsive" src="{% static 'images/hostel/StudyClass.jpg' %}" alt="Study" width="100%" height="100%">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row"  data-toggle="tooltip" title="Enjoy your days">
          <div class="col-md-5">
            <img class="img-responsive" src="{% static 'images/hostel/Enjoy2.jpg' %}" alt="Study" width="100%" height="100%" alt="Enjoy">
          </div>
          <div class="col-md-7 text-center">
            <h2 class="h2-header"><i class="fa fa-flag-checkered" aria-hidden="true"></i> We enjoy functions, festivals and birthdays</h2>
            <p class="lead">PMT enjoys each and every festival including Deewali, Holi, 15 August, 26 january, Janmastami, Christmas. We also enjoy the birtdays of students by grouping together at night.<br><br>Different kinds of programmes are organized for entertainmen. PMT respects each member including Juniors, Seniors, Warden &amp; Peons. Life should be full of joy and we always try to keep it up.</p>
          </div>
          
        </div>

        <hr class="featurette-divider">

        <div class="row"  data-toggle="tooltip" title="Please take care of your health">
          <div class="col-md-7 text-center">
            <h2 class="h2-header"><i class="fa fa-child" aria-hidden="true"></i> We play for good health</h2>
            <p class="lead">We at PMT focus on the term "Health is wealth" thats's why we are not only limited to study and celebrating functions &amp; festivals even also play football, volleyball, cricket, carrom, chess and many more to keep take care of our health.<br><br> We go tour in a year to see the unseen and nice places of our Chhattisgarh. In this way, we enjoy a lot but never try to loose concentration in study.</p>
          </div>
          <div class="col-md-5">
            <img class="img-responsive" src="{% static 'images/hostel/HealthFitness.png' %}" alt="Study" width="100%" height="100%"  alt="health">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- CONTATINER ENDS -->