{% extends "pmt_hostel_app/st_base.html" %}
{% load staticfiles %}

{% block container %}
<div class="container">
	
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4 col-xs-12">
			<center>
					<h3>PMT Boys hostel, Raipur</h3>
					<h4 id="span-brief">Chhattisgarh</h4>
			</center>
			<hr>
			<div class="card card-1">
				<center>
					<img src="https://cdn4.iconfinder.com/data/icons/rcons-user/32/child_boy-128.png" style="height:80px; display: inline; padding-top: 3px" class="img-responsive img-circle" /> <br>
					<small>Quote &raquo; <span id="span-quote">"{{user.quote}}"</span></small>
				</center>
				<hr>
				<center>
					
					<span class="span-name"> {{ user.fullname }}</span><br>
					<span class="span-email">{{ user.email }} </span><br>
					<span class="span-contact">+91 {{ user.contact }}</span><br/>
					<hr>
					<span class="span-batch">Member of <b>{{user.batch}}</b> bacth</span>
				</center>
					
			</div>
			<a href="/members/" class="btn btn-primary btn-block" id="explore">Explore other members</a>
		</div>
	</div>
	
</div>
{% endblock %}



{% block css %}
<style type="text/css">

	small {
		color: green;
		font-family: tahoma;
	}

	h4#span-brief {
		color: green;
	}	

	span.span-name, span.span-email, span.span-contact, #span-quote {
		font-family: tahoma;
		
	}

	span.span-name {
		color: black;
		font-weight: bold;
	}

	span.contact {
		color:#ff3;
	}

	span#span-quote {
		color: black;
	}

	a#explore {
		font-family: tahoma;
		font-weight: bold;
		
	}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
  padding-top: 20px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

</style>

{% endblock %}